body {
    font-family: sans-serif;
    -webkit-font-smoothing: auto;
    -moz-font-smoothing: auto;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: auto;
    text-rendering: optimizeLegibility;
    font-smooth: always;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
  }
  
  h1 {
    font-size: 1.5rem;
  }

  .chips-contianer{
     margin-block:20px;
     display: flex;
     flex-wrap: wrap;
     gap:6px;
     width: 400px;
  }
  .chips-contianer>span{
     background-color:rgb(194, 182, 182);
     padding: 7px;
     border-radius:20px;

  }
  .del-btn{
    cursor:pointer
  }